body {
    background: #ffffff;
    margin: 50px 0px;
}
#container {
    width: 100%;
    height: 2.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: fixed;
    bottom:30px;
    overflow: hidden;
    white-space: nowrap;
    background: #ffffff00;
    color: #ffffff00;
    z-index: 9999;
}
#container .scroll {
    background: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: fit-content;
    white-space: nowrap;
    animation: loop 20s linear infinite;
}

@keyframes loop {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-50%);}
}
.item {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color:red;
    font-size: 25px;
    background-color: #ffffff00;
    padding: 0.7rem 1rem;
    margin: 0rem 1rem;
    border-radius: 0.4rem;
    white-space: nowrap;
    
}
*, *:before, *:after 
{ box-sizing: border-box; }

html { font-size: 18px; }

body {
  color: #ffffff;
  font-size: 1.2em;
  line-height: 1.6;
  background: #ffffff;
  overflow-x: hidden;
}

label .menu {
  position: fixed;
  right: -100px;
  top: -100px;
  z-index: 100;
  width: 200px;
  height: 200px;
  background:#ffffff;
  border-radius: 50% 50% 50% 50%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  box-shadow: 0 0 0 0 #FFF, 0 0 0 0 #FFF;
  cursor: pointer;
  
}

label .hamburger {
  position: absolute;
  top: 135px;
  left: 50px;
  width: 30px;
  height: 2px;
  background: #000000;
  display: block;
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

label .hamburger:after, label .hamburger:before {
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #000000;
}

label .hamburger:before { top: -10px; }

label .hamburger:after { bottom: -10px; }

label input { display: none; }

label input:checked + .menu {
  box-shadow: 0 0 0 100vw #ffffff, 0 0 0 100vh #ffffff;
  border-radius: 0;
  
}

label input:checked + .menu .hamburger {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  
}

label input:checked + .menu .hamburger:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  bottom: 0;
  
}

label input:checked + .menu .hamburger:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top: 0;
  
}

label input:checked + .menu + ul { opacity: 1; }

label ul {
  z-index: 200;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: .25s 0s ease-in-out;
  transition: .25s 0s ease-in-out;
  font-family: "canada-type-gibson", sans-serif;
font-weight: 400;
font-style: normal;
}

label a {
  margin-bottom: 1em;
  display: block;
  color: #000000;
  text-decoration: none;
  
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
}
#strawberry{
    width:400px;
    position: relative;
    left: 50px;

}
h2 {
    position: absolute;
    top: 10px;
    left: 20px;
    font-family:"canada-type-gibson", sans-serif;
    font-weight: 600;
    z-index: 10000000;
    color: #000;
    font-size: 15px;
    
  }
p{
    font-family:"canada-type-gibson", sans-serif;
    font-weight: 200;
    position: relative;
    bottom: 400px;
    left:500px;
    color: rgb(0, 0, 0);
    width:700px;
    font-size: 20px;

}
a{
    color:rgb(0, 0, 0)
}
a:hover{
    color:red;
}
.email{
    font-family:"canada-type-gibson", sans-serif;
    font-weight: 600;
    color:black;
    font-size: 20px;

}